{% extends "base.html" %}

{% block content%}
<div style="text-align: center;">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    Bid Number: {{ bid.get_bID }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">User: {{ bid.get_userID }}</h5>
                    <h5 class="card-title">Product: {{ bid.get_productID }}</h5>
                    <h5 class="card-title">Price Offered: {{ bid.get_newPrice }}</h5>
                    {% for key, value in bid.getUserStatus.items %}
                        {% if value is True %}
                            <p class="card-text">Costumer's Status: Accepted</p>
                        {% endif %}
                        {% if value is False %}
                            <p class="card-text">Costumer's Status: Not Accepted Yet</p>
                        {% endif %}
                    {% endfor %}
                    {% for key, value in bid.get_receivers.items %}
                        {% if value is True %}
                            <p class="card-text">{{ key.getMemberName }}'s Status: Accepted</p>
                        {% endif %}
                        {% if value is False %}
                            <p class="card-text">{{ key.getMemberName }}'s Status: Not Accepted Yet</p>
                        {% endif %}
                    {% endfor %}
                    <a href="accept/" class="btn btn-primary">Accept Bid</a>
                    <a href="reject/" class="btn btn-primary">Reject Bid</a>
                    <a href="offeralternate/" class="btn btn-primary">Offer Alternate Bid</a>
                </div>
            </div>
        </div>
</div>
{% endblock %}