{% extends "base.html" %}

{% block content%}
<div style="text-align: center;">
        <div class="row">
        {% for transaction in transactions %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ transaction.getTransactionID }}</h5>
                            <p class="card-text">Date of purchase: {{ transaction.getDate }}</p>
                            <p class="card-text">Total Amount: {{ transaction.getAmount }}</p>
                        {% for product in transaction.getProduts.values %}
                            <p class="card-text">{{ product.getProductName }}</p>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        </div>
</div>

{% endblock %}