{% extends "base.html" %}

{% block content%}
        <div style="text-align: center;"><h1>{{ title }}</h1>
        <h4>This is our market website</h4></div>

    <div class="row">
    {% for store in stores %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ store.getStoreName }}</h5>
                <a href="/store/{{ store.getStoreId }}/" class="btn btn-primary">Go To Store</a>
            </div>
        </div>
    {% endfor %}
    {% if is_admin %}
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a class="btn btn-primary" href="remove_member/" role="button">Remove Member</a>
        <a class="btn btn-primary" href="all_stores_transactions/" role="button">Get All Stores Transactions</a>
        <a class="btn btn-primary" href="all_users_transactions/" role="button">Get All Users Transactions</a>
        <a class="btn btn-primary" href="store_transactions/" role="button">Get Store Transactions</a>
        <a class="btn btn-primary" href="user_transactions/" role="button">Get User Transactions</a>
        <a class="btn btn-primary" href="store_transactions_ID/" role="button">Get Store Transactions By StoreID</a>
        </div>

        <h3>Active Users:</h3></div>
        {% for active in actives %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ active.getUserID }}</h5>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    </div>
{% endblock %}