{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}

{% if title %}
    <h1 style="text-align:center;">{{ title }}</h1>
{% endif %}

<h5 style="text-align:center;">If you choose store - you may choose price/quantity/weight and fill only min value and max value.</h5>
<h5 style="text-align:center;"> If you choose category - you may choose only weight/quantity and fill category, min value and max value.</h5>
<h5 style="text-align:center;">If you choose product - you may choose quantity/weight and fill productID, min value and max value.</h5>

{% if messages %}
<div class="messages" style="text-align:center;">
    {% for message in messages %}
    <li>{% if message.tags %} {{ message }} {% endif %}</li>
    {% endfor %}
</div>
{% endif %}

<form style="text-align:center;" method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <table style="margin-left:auto;margin-right:auto;">
        {{ form.as_table }}
    </table>
    <button style="text-align:row mb-3;" class="btn btn-secondary" type="submit">Send</button>
</form>


{% endblock %}