{% extends "base.html" %}

{% block content%}
<div style="text-align: center;">
    <a class="btn btn-primary" href="add_store_simple_discount/" role="button">Add Store Simple Discount</a>
    <a class="btn btn-primary" href="add_store_simple_condition_discount/" role="button">Add Store Simple Condition Discount</a>
    <a class="btn btn-primary" href="add_category_simple_discount/" role="button">Add Category Simple Discount</a>
    <a class="btn btn-primary" href="add_category_simple_condition_discount/" role="button">Add Category Simple Condition Discount</a>
    <a class="btn btn-primary" href="add_product_simple_discount/" role="button">Add Product Simple Discount</a>
    <a class="btn btn-primary" href="add_product_simple_condition_discount/" role="button">Add Product Simple Condition Discount</a>
    <a class="btn btn-primary" href="add_condition_max/" role="button">Add Condition Max</a>
    <a class="btn btn-primary" href="add_condition_add/" role="button">Add Condition Add</a>
    <a class="btn btn-primary" href="add_condition_or/" role="button">Add Condition OR</a>
    <a class="btn btn-primary" href="add_condition_xor/" role="button">Add Condition XOR</a>
    <a class="btn btn-primary" href="add_condition_and/" role="button">Add Condition AND</a>
    <a class="btn btn-primary" href="add_rule/" role="button">Add Rule</a>
</div>

{% endblock %}