{% extends "base.html" %}

{% block content%}
<div style="text-align: center;">
        <a class="btn btn-primary" href="addproduct/" role="button">Add Product</a>

        <a class="btn btn-primary" href="/addstore" role="button">Add Product Quantity</a>

        <a class="btn btn-primary" href="/addstore" role="button">Update Product Name</a>

        <a class="btn btn-primary" href="/addstore" role="button">Update Product Category</a>

        <a class="btn btn-primary" href="/addstore" role="button">Update Product Price</a>

        <a class="btn btn-primary" href="/addstore" role="button">Remove Product</a>

</div>

{% endblock %}