{% extends "base.html" %}

{% block content%}
<div style="text-align: center;">
        <div class="row">
        {% for item in items %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.getProductName }}</h5>
                            <p class="card-text">{{ item.getProductCategory }}</p>
                            <p class="card-text">Price: {{ item.getProductPrice }}</p>
                        <a href="/store/{{ store.getStoreId }}/" class="btn btn-primary">Go To Product</a>
                    </div>
                </div>
        {% endfor %}
        </div>
        {% if permissions.hasPermission_StockManagement %}
                <a class="btn btn-primary" href="products_manage/" role="button">Products Management</a>
        {% endif %}
        {% if permissions.hasPermission_AppointManager %}
                <a class="btn btn-primary" href="appoint_manager/" role="button">Appoint Manager</a>
        {% endif %}
        {% if permissions.hasPermission_AppointOwner %}
                <a class="btn btn-primary" href="appoint_owner/" role="button">Appoint Owner</a>
        {% endif %}
        {% if permissions.hasPermission_ChangePermission %}
                <a class="btn btn-primary" href="/addstore" role="button">Change Stuff Member Permission</a>
        {% endif %}
        {% if permissions.hasPermission_RolesInformation %}
                <a class="btn btn-primary" href="/addstore" role="button">Show All Stuff Members</a>
        {% endif %}
        {% if permissions.hasPermission_PurchaseHistoryInformation %}
                <a class="btn btn-primary" href="/addstore" role="button">Show Purchases History</a>
        {% endif %}
        {% if permissions.hasPermission_CloseStore %}
                <a class="btn btn-primary" href="/addstore" role="button">Close Store</a>
        {% endif %}
</div>

{% endblock %}